body {
	margin: 0;
	padding: 0;
}

#bg {
	min-height: 80%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#header {
	width: 100%;
	max-height: 10%;
	text-align: center;
	display: inline-block;
}

#kiran {
	
	margin:0px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	width: 80%;
	float: left;
	padding-top: 1%;
    font-family: "Times New Roman", "Georgia", "Serif";

};

}

.button {
	background-color: #3a3438;
	border:none;
	padding: 2% 5% 2% 5%;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-right: 10%;
}

.cbutton  {
	background-color: #3a3438;
	border:none;
	padding: 2% 5% 2% 5%;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	margin-right: 10%;
}

.button:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4), 0 8px 40px 0 rgba(255, 255, 255, 0.38);
}

.cbutton:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 8px 40px 0 rgba(0, 0, 0, 0.38);
}

#signin {
	
	width: 20%;
    float: right;
    padding-top: 1.5%;
    margin: 0;
}

#header span {
	margin: 0;
	padding: 0;
}

#header2 {
	display: block;
}

#me {
	left: 0;
	
}

#signup {
	right: 0;
}

#login {
	right: 0;
}

#bottom {
	width: 100%;
	display: block;
	bottom: 0;
	float: left;
	position: absolute;
	background-color: grey;
}

#bottom p {
	font-size: 10px;
	text-align: center;
	padding: 0;
	
}


#twitter {
	width: 25%;
    float: right;
    padding-right: 4%;
}

#content {
	width: 75%

	
}

#article {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 8px 48px 48px rgba(0, 0, 0, 0.2);
	background-color: rgba(255,255,255,0);
	margin-bottom: 10%;
	
}

#a_head {
	font-size: 3em;
    color: rgb(255,255, 255);
    padding: 2%;
    padding-left: 3%;
	

}

#content p {
	margin: 0;
}

#body {
	margin-top: 5%;
	margin-bottom: 5%;
}

#a_body {
	padding: 5%;
    height: auto;
    color: white;
    padding-left: 6%;
    line-height: 1.4;
    font-size: 1.1em;
    padding-top: 2%;
    padding-bottom: 3%;

}

#c_head {
	color: white;
    padding-left: 10%;
    font-weight: bold;
    font-size: 1.2em

}

#c_body {
	padding-left: 15%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;
    font-size: 1.2em;
    color: #232027
    font-weight:bold;
}

#comm {
	color:white;
	font-weight: bold;
	font-size: 1.3em;
	padding-left: 5%;
}

#input {
	
	padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#input textarea {
	width: 80%;
	
}

#c_button {
	float: right;
	padding: 1%;
	width: 30%;
	padding-top: 0;
}

hr {
	width: 80%;
}
